body {
  background-image: url(./images/Space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: "Kanit", sans-serif;
}

.App footer {
  font-family: "Kanit", sans-serif;
  color: #fff;
  text-align: center;
  margin: -25px 0px 25px;
}

.App footer a {
  text-decoration: none;
  color: rgb(255, 255, 122);
}

.App .container {
  padding: 50px;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300;600&display=swap");

@media only screen and (max-width: 768px) {
  .App .container {
    margin-top: 0px;
    border: none;
  }

  .App footer {
    font-size: 12px;
  }
}
