.FiveDayForecast {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: "Kanit", sans-serif;
}

.FiveDayForecast .day {
  padding: 5px 10px;
  border: solid 1px rgb(119, 215, 218);
  border-radius: 15px;
  margin-bottom: 10px;
  text-align: center;
}

@media only screen and (max-width: 576px) {
  .FiveDayForecast {
    display: flex;
    align-items: center;
    margin-bottom: -20px;
  }

  .FiveDayForecast .day {
    display: inline;
    padding: 7px;
    font-weight: bold;
    border: solid 2px rgb(119, 215, 218);
  }
}
