.WeatherAPICall .input,
.WeatherAPICall button {
  font-family: "Kanit", sans-serif;
}

.WeatherAPICall {
  border: 1px solid #fff;
  padding: 75px;
  border-radius: 10px;
}

.WeatherAPICall .input {
  background-image: url(./images/Space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: solid 1px rgb(119, 215, 218);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 15px;
}

.input::placeholder,
.input:focus {
  color: #fff;
}

.WeatherAPICall button {
  background-color: rgb(119, 215, 218);
  color: #000;
  border-radius: 10px;
  border: solid 1px rgb(119, 215, 218);
  opacity: 0.8;
  padding: 5px 15px;
}

.WeatherAPICall button:hover {
  background-color: #000;
  color: #fff;
  border: none;
}

@media only screen and (max-width: 576px) {
  .WeatherAPICall {
    border: none;
    padding: 0;
    margin-top: -35px;
  }

  .WeatherAPICall form {
    text-align: center;
    margin-bottom: 15px;
  }
}
