.Form .input,
.Form button {
  font-family: "Kanit", sans-serif;
}

.Form .input {
  background-image: url(./images/Space.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border: solid 1px rgb(119, 215, 218);
  border-radius: 10px;
  padding: 5px 20px;
  margin-bottom: 15px;
}

.input::placeholder,
.input:focus {
  color: #fff;
}

.Form button {
  background-color: rgb(119, 215, 218);
  color: #000;
  border-radius: 10px;
  border: solid 1px rgb(119, 215, 218);
  opacity: 0.8;
  padding: 5px 15px;
}

@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap");

@media only screen and (max-width: 576px) {
  form {
    text-align: center;
    margin-bottom: 15px;
  }

  button {
    margin-left: 10px;
  }
}
